.media
  .media-left
    = link_to image_tag(comment.prototype.user.avatar, alt: "64x64", data: { holder: { rendered: "true"}, src: "holder.js/64x64"}, style: "width: 64px; height: 64px;", class: "media-object"), root_path
  .media-body
    %h4.media-heading
      = comment.user.name
    %p
      = comment.text